

.mainpage {
    background-color: #e8e0d3;
    box-sizing: border-box;
}

.buttons{
    width: 3vw;
}

#logo {
    width: 25vw;
}

#cart {
    width: 6vw;
}

.column {
    float: left;
    width: 33.33%;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
      border-bottom: #837f74 solid 0.15vw;
}

.names {
    color:#837f74 ;
    text-transform: uppercase;
}

#pic {
    width: 100%;
}




/*SUSTAINABILITY*/

#forest {
    width: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.578);
    padding: 1vw;
  }

.sustain {
    position: relative;
    text-align: center;
    color: white;
}

#earth {
    width: 30%;
    float: left;
}

#heart {
    width: 30%;
    float: right;
}